<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
      <ul>
        <li><a href="/heroes">Heroes</a></li>
        <li><a href="/creditos">Creditos</a></li>
      </ul>
  </header>
  <main>
    <p><%= text %></p>
  </main>
</body>
</html>
